<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.dao.DeviceInfoDaoMapper">
    <resultMap id="BaseResultMap" type="com.admin.model.DeviceInfo">
        <result column="machinecode" jdbcType="VARCHAR" property="machineCode"/>
        <result column="activation_code" jdbcType="VARCHAR" property="activationCode"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="last_time" jdbcType="TIMESTAMP" property="lastTime"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="lon" jdbcType="VARCHAR" property="lon"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="login_type" jdbcType="VARCHAR" property="loginType"/>
        <result column="device" jdbcType="VARCHAR" property="device"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_no" jdbcType="VARCHAR" property="deviceNo"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <resultMap id="MachineInfoMap" type="com.admin.model.DeviceInfo">
        <result column="machinecode" jdbcType="VARCHAR" property="machineCode"/>
        <result column="activation_code" jdbcType="VARCHAR" property="activationCode"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="last_time" jdbcType="TIMESTAMP" property="lastTime"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="lon" jdbcType="VARCHAR" property="lon"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="login_type" jdbcType="VARCHAR" property="loginType"/>
        <result column="device" jdbcType="VARCHAR" property="device"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_no" jdbcType="VARCHAR" property="deviceNo"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <resultMap id="DeviceInfoMap" type="com.admin.model.DeviceInfo">
        <result column="machinecode" jdbcType="VARCHAR" property="machineCode"/>
        <result column="activation_code" jdbcType="VARCHAR" property="activationCode"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="last_time" jdbcType="TIMESTAMP" property="lastTime"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="lon" jdbcType="VARCHAR" property="lon"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="login_type" jdbcType="VARCHAR" property="loginType"/>
        <result column="device" jdbcType="VARCHAR" property="device"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="device_no" jdbcType="VARCHAR" property="deviceNo"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="merchant_yun_pay_account" jdbcType="VARCHAR" property="merchantYunId"/>
        <result column="agent_unique" jdbcType="VARCHAR" property="agentUnique"/>
        <result column="device_unique" jdbcType="VARCHAR" property="deviceUnique"/>
        <result column="list_state" jdbcType="VARCHAR" property="listState"/>
        <result column="quota_group" jdbcType="VARCHAR" property="quotaGroup"/>
        <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
        <result column="lkl_merchant_code" property="lklMerchantCode" jdbcType="VARCHAR" />
        <result column="lkl_terminal_code" property="lklTerminalCode" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <select id="selectMachineInfo" resultMap="DeviceInfoMap" parameterType="com.admin.model.BaseExample">
        select t.*,z.THEIRYUNID,dlist.agent_unique,dlist.merchant_yun_pay_account,dlist.state as list_state,dlist.quota_group from t_device_info t
        left join Z_MARCHINE z on t.machinecode = z.MACHINECODE
        left join t_device_list dlist on dlist.device_unique = t.device_unique
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.admin.model.BaseExample">
        select * from t_device_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExampleAndPage" parameterType="com.admin.model.BaseExample"  resultMap="BaseResultMap">
        select * from t_device_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectToken" resultMap="DeviceInfoMap" parameterType="java.lang.String">
        select t.*,z.THEIRYUNID,dlist.agent_unique,dlist.merchant_yun_pay_account,dlist.state as list_state,dlist.quota_group,dlist.merchant_name,dlist.device_name,dlist.LKL_MERCHANT_CODE ,dlist.LKL_TERMINAL_CODE as lkl_terminal_code,dlist.quota_group from t_device_info t
        left join Z_MARCHINE z on t.machinecode = z.MACHINECODE
        left join t_device_list dlist on dlist.device_unique = t.device_unique
        where token = #{id,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective" parameterType="com.admin.model.BaseExample" >
        insert into t_device_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="machineCode != null">
                machinecode,
            </if>
            <if test="lastTime != null">
                last_time,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="lon != null">
                lon,
            </if>
            <if test="lat != null">
                lat,
            </if>
            <if test="loginType != null">
                login_type,
            </if>
            <if test="device != null">
                device,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="deviceNo != null">
                device_no,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="deviceUnique != null">
                device_unique,
            </if>
            <if test="activationCode != null">
                activation_code,
            </if>
            <if test="umengToken != null">
                umeng_token,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="machineCode != null">
                #{machineCode,jdbcType=VARCHAR},
            </if>
            <if test="lastTime != null">
                #{lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="lon != null">
                #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                #{lat,jdbcType=VARCHAR},
            </if>
            <if test="loginType != null">
                #{loginType,jdbcType=VARCHAR},
            </if>
            <if test="device != null">
                #{device,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="deviceNo != null">
                #{deviceNo,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="deviceUnique != null">
                #{deviceUnique,jdbcType=VARCHAR},
            </if>
            <if test="activationCode != null">
                #{activationCode,jdbcType=VARCHAR},
            </if>
            <if test="umengToken != null">
                #{umengToken,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.admin.model.BaseExample">
        update t_device_info
        <set>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lon != null">
                lon = #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=VARCHAR},
            </if>
            <if test="loginType != null">
                login_type = #{loginType,jdbcType=VARCHAR},
            </if>
            <if test="device != null">
                device = #{device,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="deviceNo != null">
                device_no = #{deviceNo,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="yunId != null">
                yun_id = #{yunId,jdbcType=VARCHAR},
            </if>
            <if test="yunIdLev != null">
                yun_id_lev = #{yunIdLev,jdbcType=VARCHAR},
            </if>
            <if test="umengToken != null">
                umeng_token = #{umengToken,jdbcType=VARCHAR},
            </if>
        </set>
        where machinecode = #{machineCode,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_device_info
        where sys_id = #{sysId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteInfoDevice" parameterType="java.lang.String" >
        delete from t_device_info
        where DEVICE_UNIQUE = #{deviceUnique,jdbcType=VARCHAR}
    </delete>
</mapper>