<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aten.dao.CatSupplyDao">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/> 

	<!-- 数据库映射模型区域 -->
	<resultMap id="resultCatSupply" type="com.aten.model.orm.CatSupply">
		<result property="ident_id" column="ident_id" />
		<result property="cat_id" column="cat_id" />
		<result property="supply_id" column="supply_id" />
		<result property="supply_name" column="supply_name" />
	</resultMap>

	<!-- 新增数据区域 -->
	<sql id="insertCommon">
		INSERT INTO t_cat_supply(
		<if test="ident_id != null"> ident_id,</if>
		<if test="cat_id != null"> cat_id,</if>
		<if test="supply_id != null"> supply_id</if>
		)
		VALUES(
		<if test="ident_id != null">#{ident_id},</if>
		<if test="cat_id != null">#{cat_id},</if>
		<if test="supply_id != null">#{supply_id}</if>
		)
	</sql>

	<insert id="insert" parameterType="com.aten.model.orm.CatSupply"
		useGeneratedKeys="true" keyProperty="ident_id">
		<include refid="insertCommon" />
	</insert>

	<insert id="insertGetPk" parameterType="com.aten.model.orm.CatSupply">
		<selectKey resultType="String" order="BEFORE" keyProperty="ident_id">
			SELECT t_cat_supply_sequence.Nextval from DUAL
		</selectKey>
		<include refid="insertCommon" />
	</insert>

	<!-- 更新数据区域 -->
	<sql id="update_clause">
		<set>
			<if test="ident_id != null"> ident_id = #{ident_id}, </if>
			<if test="cat_id != null"> cat_id = #{cat_id}, </if>
			<if test="supply_id != null"> supply_id = #{supply_id} </if>

		</set>
	</sql>

	<!-- 删除分类关联的供应商 -->
	<delete id="deleteCatSupply" parameterType="String">
		delete from
		t_cat_supply where cat_id =#{cat_id}
	</delete>
	<update id="update" parameterType="com.aten.model.orm.CatSupply">
		UPDATE t_cat_supply
		<include refid="update_clause" />
		WHERE ident_id = #{ident_id}
	</update>

	<!-- 删除数据区域 -->
	<delete id="delete" parameterType="String">
		delete from t_cat_supply where ident_id in
		<foreach item="idItem" collection="array" index="index" open="("
			separator="," close=")">
			#{idItem}
		</foreach>
	</delete>

	<!-- 获取对象数据区域 -->
	<select id="get" parameterType="String" resultMap="resultCatSupply">
		SELECT
		t.ident_id,t.cat_id,t.supply_id
		FROM t_cat_supply t WHERE ident_id = #{ident_id}
	</select>

	<!-- 搜索数据区域 -->
	<sql id="where_clause">
		<where>
			1=1
			<if test="ident_id != null"> and t.ident_id = #{ident_id} </if>
			<if test="cat_id != null"> and t.cat_id = #{cat_id} </if>
			<if test="supply_id != null"> and t.supply_id = #{supply_id} </if>

		</where>
	</sql>

	<sql id="getCommon">
		select t.ident_id,t.supply_id,t.cat_id,s.supply_name
		from t_cat_supply
		t
		left join t_supply s on t.supply_id=s.supply_id
		<include refid="where_clause" />
		order by t.ident_id asc
	</sql>



	<select id="getList" parameterType="map" resultMap="resultCatSupply">
		<include refid="getCommon" />
		<if test="start != null">
			LIMIT ${start},${limit}
		</if>
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select count(*) ct from t_cat_supply t
		<include refid="where_clause" />
	</select>


	<!-- 排序区域 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			update t_cat_supply
			<set>
				sort_no = #{item.sort_no}
			</set>
			WHERE ident_id = #{item.id}
		</foreach>
	</update>

</mapper>

