<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aten.dao.GoodsSaleCountDao">

	<!-- 数据库映射模型区域 -->
	<resultMap id="resultGoodsSaleCount" type="com.aten.model.orm.GoodsSaleCount" >
		<result property="gsc_id" column="gsc_id" />
		<result property="statistics_date" column="statistics_date" />
		<result property="total_goods_id" column="total_goods_id" />
		<result property="total_goods_name" column="total_goods_name" />
		<result property="total_sale_count" column="total_sale_count" />
		<result property="today_goods_id" column="today_goods_id" />
		<result property="today_goods_name" column="today_goods_name" />
		<result property="today_sale_count" column="today_sale_count" />
		<result property="settle_date" column="settle_date" />
		
	</resultMap>

	<!-- 新增数据区域 -->
	<sql id="insertCommon">
		INSERT INTO t_goods_sale_count
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gsc_id != null"> gsc_id,</if>
			<if test="statistics_date != null"> statistics_date,</if>
			<if test="total_goods_id != null"> total_goods_id,</if>
			<if test="total_goods_name != null"> total_goods_name,</if>
			<if test="total_sale_count != null"> total_sale_count,</if>
			<if test="today_goods_id != null"> today_goods_id,</if>
			<if test="today_goods_name != null"> today_goods_name,</if>
			<if test="today_sale_count != null"> today_sale_count,</if>
			<if test="settle_date != null"> settle_date</if>
			
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="gsc_id != null">#{gsc_id},</if>
			<if test="statistics_date != null">#{statistics_date},</if>
			<if test="total_goods_id != null">#{total_goods_id},</if>
			<if test="total_goods_name != null">#{total_goods_name},</if>
			<if test="total_sale_count != null">#{total_sale_count},</if>
			<if test="today_goods_id != null">#{today_goods_id},</if>
			<if test="today_goods_name != null">#{today_goods_name},</if>
			<if test="today_sale_count != null">#{today_sale_count},</if>
			<if test="settle_date != null">#{settle_date}</if>
			
		</trim>
	</sql>
	
	<insert id="insert" parameterType="com.aten.model.orm.GoodsSaleCount">
		<include refid="insertCommon" />
	</insert>

	<insert id="insertGetPk" parameterType="com.aten.model.orm.GoodsSaleCount" >
		<include refid="insertCommon" />
		<selectKey resultType="String" order="AFTER" keyProperty="gsc_id">  
	       SELECT @@IDENTITY AS ID  
	    </selectKey>  
	</insert>
	
	<!-- 更新数据区域 -->
	<sql id="update_clause">
		<set>
			<trim suffixOverrides=",">
				<if test="gsc_id != null"> gsc_id = #{gsc_id}, </if>
				<if test="statistics_date != null"> statistics_date = #{statistics_date}, </if>
				<if test="total_goods_id != null"> total_goods_id = #{total_goods_id}, </if>
				<if test="total_goods_name != null"> total_goods_name = #{total_goods_name}, </if>
				<if test="total_sale_count != null"> total_sale_count = #{total_sale_count}, </if>
				<if test="today_goods_id != null"> today_goods_id = #{today_goods_id}, </if>
				<if test="today_goods_name != null"> today_goods_name = #{today_goods_name}, </if>
				<if test="today_sale_count != null"> today_sale_count = #{today_sale_count}, </if>
				<if test="settle_date != null"> settle_date = #{settle_date} </if>
				
			</trim>
		</set>
	</sql>
	
	
	
	

	<update id="update" parameterType="com.aten.model.orm.GoodsSaleCount">
		UPDATE t_goods_sale_count <include refid="update_clause" /> WHERE gsc_id = #{gsc_id}
	</update>

	<!-- 删除数据区域 -->
	<delete id="delete" parameterType="String">
		delete from t_goods_sale_count where gsc_id in
		<foreach item="idItem" collection="array" index="index" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>

	<!-- 获取对象数据区域 -->
	<select id="get" parameterType="String"	resultMap="resultGoodsSaleCount">
		 SELECT
		 t.gsc_id,t.statistics_date,t.total_goods_id,t.total_goods_name,t.total_sale_count,t.today_goods_id,t.today_goods_name,t.today_sale_count,t.settle_date
		 FROM t_goods_sale_count t WHERE gsc_id = #{gsc_id}
	</select>
	
	<!-- 搜索数据区域 -->
	<sql id="where_clause">
		<where> 
			1=1
			<if test="gsc_id != null"> and t.gsc_id = #{gsc_id} </if>
			<if test="gsc_id_vague != null"> and instr(t.gsc_id,#{gsc_id_vague})>0 </if>
			<if test="statistics_date != null"> and t.statistics_date = #{statistics_date} </if>
			<if test="statistics_date_vague != null"> and instr(t.statistics_date,#{statistics_date_vague})>0 </if>
			<if test="total_goods_id != null"> and t.total_goods_id = #{total_goods_id} </if>
			<if test="total_goods_id_vague != null"> and instr(t.total_goods_id,#{total_goods_id_vague})>0 </if>
			<if test="total_goods_name != null"> and t.total_goods_name = #{total_goods_name} </if>
			<if test="total_goods_name_vague != null"> and instr(t.total_goods_name,#{total_goods_name_vague})>0 </if>
			<if test="total_sale_count != null"> and t.total_sale_count = #{total_sale_count} </if>
			<if test="total_sale_count_vague != null"> and instr(t.total_sale_count,#{total_sale_count_vague})>0 </if>
			<if test="today_goods_id != null"> and t.today_goods_id = #{today_goods_id} </if>
			<if test="today_goods_id_vague != null"> and instr(t.today_goods_id,#{today_goods_id_vague})>0 </if>
			<if test="today_goods_name != null"> and t.today_goods_name = #{today_goods_name} </if>
			<if test="today_goods_name_vague != null"> and instr(t.today_goods_name,#{today_goods_name_vague})>0 </if>
			<if test="today_sale_count != null"> and t.today_sale_count = #{today_sale_count} </if>
			<if test="today_sale_count_vague != null"> and instr(t.today_sale_count,#{today_sale_count_vague})>0 </if>
			<if test="settle_date != null"> and t.settle_date = #{settle_date} </if>
			<if test="settle_date_vague != null"> and instr(t.settle_date#{settle_date_vague})>0 </if>
			
		</where>
	</sql>
	
	<sql id="getCommon">
		select  t.gsc_id,t.statistics_date,t.total_goods_id,t.total_goods_name,t.total_sale_count,t.today_goods_id,t.today_goods_name,t.today_sale_count,t.settle_date
		from t_goods_sale_count t
		<include refid="where_clause" /> order by gsc_id desc
	</sql>

	

	<select id="getList" parameterType="map" resultMap="resultGoodsSaleCount">
            <include refid="getCommon" />
             <if test="start != null">
         		LIMIT ${start},${limit}
        	</if> 
	</select>

	<select id="getCount" parameterType="map" resultType="int">
			select count(*) ct from t_goods_sale_count t <include refid="where_clause" />
	</select>
	
	
	<!-- 排序区域 -->
	<update id="updateBatch" parameterType="java.util.List">
	   <foreach collection="list" item="item" index="index" separator=";">  
			update t_goods_sale_count 
			<set>
				sort_no = #{item.sort_no}
			</set>
			WHERE gsc_id = #{item.id}
	   </foreach>
	</update>
	
</mapper>

