<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aten.dao.TestDao">

	<!-- 数据库映射模型区域 -->
	<resultMap id="resultTest" type="com.aten.model.orm.Test">
		<result property="full_id" column="full_id" />
		<result property="goods_id" column="goods_id" />
		<result property="presale_endtime" column="presale_endtime" />
		<result property="send_time_type" column="send_time_type" />
		<result property="send_day_num" column="send_day_num" />
		<result property="send_time" column="send_time" />
		<result property="limit_buy_num" column="limit_buy_num" />

	</resultMap>

	<!-- 新增数据区域 -->
	<sql id="insertCommon">
		INSERT INTO t_full_sales
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="full_id != null"> full_id,</if>
			<if test="goods_id != null"> goods_id,</if>
			<if test="presale_endtime != null"> presale_endtime,</if>
			<if test="send_time_type != null"> send_time_type,</if>
			<if test="send_day_num != null"> send_day_num,</if>
			<if test="send_time != null"> send_time,</if>
			<if test="limit_buy_num != null"> limit_buy_num</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="full_id != null">#{full_id},</if>
			<if test="goods_id != null">#{goods_id},</if>
			<if test="presale_endtime != null">#{presale_endtime},</if>
			<if test="send_time_type != null">#{send_time_type},</if>
			<if test="send_day_num != null">#{send_day_num},</if>
			<if test="send_time != null">#{send_time},</if>
			<if test="limit_buy_num != null">#{limit_buy_num}</if>
		</trim>
	</sql>

	<insert id="insert" parameterType="com.aten.model.orm.Test">
		<include refid="insertCommon" />
	</insert>

	<insert id="insertGetPk" parameterType="com.aten.model.orm.Test">
		<include refid="insertCommon" />
		<selectKey resultType="String" order="AFTER" keyProperty="full_id">
			SELECT @@IDENTITY AS ID
		</selectKey>
	</insert>

	<!-- 更新数据区域 -->
	<sql id="update_clause">
		<set>
			<trim suffixOverrides=",">
				<if test="full_id != null"> full_id = #{full_id}, </if>
				<if test="goods_id != null"> goods_id = #{goods_id}, </if>
				<if test="presale_endtime != null"> presale_endtime = #{presale_endtime}, </if>
				<if test="send_time_type != null"> send_time_type = #{send_time_type}, </if>
				<if test="send_day_num != null"> send_day_num = #{send_day_num}, </if>
				<if test="send_time != null"> send_time = #{send_time}, </if>
				<if test="limit_buy_num != null"> limit_buy_num = #{limit_buy_num} </if>

			</trim>
		</set>
	</sql>





	<update id="update" parameterType="com.aten.model.orm.Test">
		UPDATE t_full_sales
		<include refid="update_clause" />
		WHERE full_id = #{full_id}
	</update>

	<!-- 删除数据区域 -->
	<delete id="delete" parameterType="String">
		delete from t_full_sales where full_id in
		<foreach item="idItem" collection="array" index="index" open="("
			separator="," close=")">
			#{idItem}
		</foreach>
	</delete>

	<!-- 获取对象数据区域 -->
	<select id="get" parameterType="String" resultMap="resultTest">
		SELECT
		t.full_id,t.goods_id,t.presale_endtime,t.send_time_type,t.send_day_num,t.send_time,t.limit_buy_num
		FROM t_full_sales t WHERE full_id = #{full_id}
	</select>

	<!-- 搜索数据区域 -->
	<sql id="where_clause">
		<where>
			1=1
			<if test="full_id != null"> and t.full_id = #{full_id} </if>
			<if test="full_id_vague != null"> and instr(t.full_id,#{full_id_vague})>0 </if>
			<if test="goods_id != null"> and t.goods_id = #{goods_id} </if>
			<if test="goods_id_vague != null"> and instr(t.goods_id,#{goods_id_vague})>0 </if>
			<if test="presale_endtime != null"> and t.presale_endtime = #{presale_endtime} </if>
			<if test="presale_endtime_vague != null"> and instr(t.presale_endtime,#{presale_endtime_vague})>0
			</if>
			<if test="send_time_type != null"> and t.send_time_type = #{send_time_type} </if>
			<if test="send_time_type_vague != null"> and instr(t.send_time_type,#{send_time_type_vague})>0
			</if>
			<if test="send_day_num != null"> and t.send_day_num = #{send_day_num} </if>
			<if test="send_day_num_vague != null"> and instr(t.send_day_num,#{send_day_num_vague})>0 </if>
			<if test="send_time != null"> and t.send_time = #{send_time} </if>
			<if test="send_time_vague != null"> and instr(t.send_time,#{send_time_vague})>0 </if>
			<if test="limit_buy_num != null"> and t.limit_buy_num = #{limit_buy_num} </if>
			<if test="limit_buy_num_vague != null"> and instr(t.limit_buy_num#{limit_buy_num_vague})>0 </if>

		</where>
	</sql>

	<sql id="getCommon">
		select
		t.full_id,t.goods_id,t.presale_endtime,t.send_time_type,t.send_day_num,t.send_time,t.limit_buy_num
		from t_full_sales t
		<include refid="where_clause" />
		order by full_id desc
	</sql>



	<select id="getList" parameterType="map" resultMap="resultTest">
		<include refid="getCommon" />
		<if test="start != null">
			LIMIT ${start},${limit}
		</if>
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select count(*) ct from t_full_sales t
		<include refid="where_clause" />
	</select>


	<!-- 排序区域 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"
			separator=";">
			update t_full_sales
			<set>
				sort_no = #{item.sort_no}
			</set>
			WHERE full_id = #{item.id}
		</foreach>
	</update>

</mapper>

